.container:before, .container:after {
    content: none !important;
}

div.section {

}

h1, h2 {
    border-bottom: 1px dotted gray;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

a.back-to-top {
    margin-bottom: 30px;
    display:block;
}

table tbody tr:nth-child(even) {
    background-color: #d3d3d3;
}

table tbody tr:nth-child(odd) {
    background-color: #fff;
}